<h1> Cadastro de Cozinhas </h1>
  
<% if @cuisine.errors.any? %>
<p>Não foi possível salvar a cozinha</p>
  <% @cuisine.errors.full_messages.each do |message| %>
   <p> <%= message %> </p>
  <% end %>
<% end %>

<%= form_for @cuisine do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.submit 'Enviar' %>
<% end %>